/* Built from the following resets
 * Josh's Custom CSS Reset - https: //www.joshwcomeau.com/css/custom-css-reset/
 * Andy Bell's Custom Reset - https://piccalil.li/blog/a-modern-css-reset/
 */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

html,
body {
    height: 100%;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}